.containerLivro{
    /* width: 18vw; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.capa{
    align-self: center;
    width: 160px;
    height: 218px;
    background-color:#2f3e41;
}

.title{
    font-size: 18px;
    color: #353535;
}

.autor{
    margin-top: 3px;
    font-size: 14px;
    color: #353535;
}