
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header{
  background-color: #353535;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media(max-width:750px){
  .App-header{
    flex-direction: column;
    
  } 

  .App-header span{
    /* margin-bottom: 5px; */
    width: 80%;
  }

  .App-header span:last-child{
    margin: 15px 0px;
  }


}

.App-header span{
  color: white;
  flex-grow: 1;
}

.pesquisa{
  flex-grow: 2 !important;
}

#modal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pesquisa input{
  outline: none;
  width: 95%;
  height: 35px;
  border-radius: 20px;
  border: none;
  /* padding: 5px; */
  padding-left: 25px;
  font-size: 16px;
}

.App-body {
  background-color: #fffcf0;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  padding-top: 5vh; 
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
}

.btn-contato{
  border-bottom: 1px solid;
  height: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
